@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    color: var(--dark-color);
}

:root {
    --transition: all 0.4s ease;
    --border-radius: 10px;
    --box-shadow: 0px 0px 10px 2px #00000023;
    --background: white;
    --primary-color: #c00000;
    --secundary-color: #f5f5f5;
    --dark-color: #1e1e1e;
    --font-tittle: 2.1rem;
    --font-tittle2: 1.3rem;
    --font-size: 1.1rem;
    --font-size2: 0.9rem;
    --font-size3: 0.7rem;
}

body {
    font-family: "Bai Jamjuree";
    background: var(--background);
}

.hero {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 720px;
    position: relative;
    background: url('../assets/img/fundo.png') no-repeat center center/cover;
    z-index: 1;
}

.btn button {
    margin: 40px;
    width: 120px;
    height: 35px;
    color: var(--secundary-color);
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    transition: var(--transition);
}

.btn button:hover {
    border-radius: 0 10px 0 10px;
    transform: scale(1.05);
}

header {
    display: flex;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin: 60px;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secundary-color);
    transition: var(--transition);
    font-size: var(--font-size2);
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-active {
    text-decoration: underline;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secundary-color);
    transition: var(--transition);
}

/* logo */
.logo img {
    display: flex;
    width: 150px;
}

.hero-destaque {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.title {
    color: var(--secundary-color);
    font-size: 3rem;
    font-weight: 400;
    animation: text 11s infinite;
}

.subtitle {
    color: var(--secundary-color);
    font-size: var(--font-size);
    font-weight: 400;
    animation: text 11s infinite;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    color: white;
    z-index: 1;
}

.fa-chevron-down {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    40% {
        transform: translateY(-20px) translateX(-50%);
    }

    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}

@keyframes text {


    50% {
        transform: scale(1.1);

    }

}

/* barra info */

#info-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
    background-color: var(--secundary-color);
    box-shadow: var(--box-shadow);
}

#info {
    text-align: center;
    width: 250px;
}

#info h1 {
    font-size: var(--font-tittle);
    color: var(--primary-color);
}

#info h3 {
    color: #808080;
    font-size: var(--font-size);
    font-weight: 500;
}

/* cards */

#solution-info {
    margin-top: 90px;
    text-align: center;
}

#solution-info h1 {
    font-size: var(--font-tittle);
    color: var(--primary-color);
}

#solution-info h2 {
    font-size: var(--font-size);
    color: #808080;
    font-weight: 500;
    margin-top: 10px;
}

#ctn-card {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: var(--border-radius);
    background: var(--secundary-color);
    transition: var(--transition);
}

#card:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow);
}

#card p {
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
}

#card h1 {
    font-size: var(--font-tittle2);
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

#card h2 {
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

#mapa iframe{
    margin-top: 90px;
    display: flex;
    width: 1080px;
    height: 480px;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--secundary-color);
    border-radius: var(--border-radius);
}


/* style contato */
.contact {
    display: flex;
    align-items: center;
}

#contato{
    background: #ffffff30;
    backdrop-filter: blur(4px);
    border: 2px solid #dededeee;
    border-radius: var(--border-radius);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.contact h2 {
    text-align: center;
    color: var(--secundary-color);
    font-size: var(--font-tittle);
    font-weight: 500;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    min-width: 600px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 15px;
    background: #ffffffaa;
    backdrop-filter: blur(3px);
    border: 1px solid var(--secundary-color);
    border-radius: 10px;
    font-size: var(--font-size2);
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.error-message {
    color: red;
    font-size: var(--font-size2);
    margin-left: 10px;
    margin-top: 5px;
}

#contactForm button {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    color: var(--secundary-color);
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    transition: var(--transition);
}

#contactForm button:hover {
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 2px #ffffff18;
    transform: scale(1.1);
}

/* style app */
#error {
    color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error h1 {
    font-size: 60px;
    animation: text 11s infinite;
}

#error h2 {
    animation: text 11s infinite;

}

#error span {
    color: red;
}

/* style equipe */

.equipe{
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-pessoal .foto {
    width: 100%;
    border: 2px solid;
    border-color: #f9f9f9a0;
    border-radius: 20px 0px 20px 0px;
}

#card-pessoal {
    max-width: 250px;
    min-width: 250px;
    min-height: 500px;  
    max-height: 500px;
    background: #ffffff30;
    border: 2px solid #f9f9f9a0;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px 0px 22px 0px;
    transition: var(--transition);
}

#card-pessoal:hover {
    animation: text 11s infinite;
}

.dados {
    padding: 10px 30px 0px 30px;
}

.dados h1 {
    text-align: center;
    font-size: var(--font-tittle2);
    color: var(--secundary-color);
}

.dados h2 {
    font-size: var(--font-size1);
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.dados p {
    margin-top: 15px;
    font-size: var(--font-tittle2);
    font-weight: 700;
    color: #ffffff;
}

.dados h3 {
    font-size: var(--font-size);
    font-weight: 400;
    color: #e5e5e5;
}

.redes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.redes img {
    width: 30px;
    transition: var(--transition);
}

.redes img:hover {
    transform: scale(1.2);
}


/* footer */
footer {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('../assets/img/fundo.png') no-repeat bottom center/cover;
    background-size: 100% 700%;
}

footer .logo img {
    width: 100px;
}

footer .ctn-footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ctn-equipe {
    display: flex;
}

.links {
    display: flex;
    gap: 5px;
}

.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 100px;
    height: 40px;
    background: transparent;
    color: var(--secundary-color);
    transition: var(--transition);
}

.links a:hover {
    border: 1px solid var(--secundary-color);
    transform: translateY(-5px);
}

.direitos h4 {
    color: var(--secundary-color);
    font-size: var(--font-size2);
    font-weight: 400;
}

.direitos span a {
    text-decoration: none;
    color: var(--secundary-color);
    transition: var(--transition);
}

.direitos span a:hover {
    padding: 3px;
    border: 1px solid var(--secundary-color);
}

@media (max-width: 920px) {

    header {
        margin: 30px;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0px;
        background-color: #000000df;
        backdrop-filter: blur(2px);
        transition: var(--transition);
    }

    .nav-links a {
        font-size: var(--font-size);
        margin: 60px;
        align-items: center;
        justify-content: center;
    }

    .nav-links.active {
        left: 0;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo img {
        width: 100px;
    }

    .title {
        animation: none;

    }

    .subtitle {
        animation: none;
    }

    .btn button {
        margin: 30px;
    }

    .secao1 {
        margin: 0px;
    }

    #info-bar {
        border-radius: 0px;
    }

    #info {
        width: 100px;
    }

    #info h1 {
        font-size: var(--font-tittle2);
        font-weight: 700;
    }

    #info h3 {
        font-size: var(--font-size);
        font-weight: 400;
    }


    /* cards */
    #solutions {
        margin: 30px;
    }

    #solution-info h2 {
        font-weight: 400;
    }

    #ctn-card {
        gap: 40px;
    }

    #card:hover {
        transform: scale(1.02);
    }

    /* error */
    #error h1 {
        font-size: 50px;
        animation: none;
    }

    #error h2 {
        animation: none;
    }

    /* style contato */
    .contact {
        margin-top: 90px;
        justify-content: center;
    }

    form {
        max-width: 330px;
        min-width: 330px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 10px;
    }

    .form-group textarea {
        min-height: 100px;
    }

    /* style app */
    #error {
        color: var(--secundary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #error h1 {
        font-size: 60px;
        animation: text 11s infinite;
    }
}